.parents {
  width: 98%;
  margin: 0 auto;
  .parent {
    text-align: center;
    h2 {
      padding: 40px 0;
      font-size: 26px;
      color: #4c5665;
    }
  }
  .vajno {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .a {
      color: #007bff;
      font-size: 20px;
    }
  }
}
