.students {
  width: 98%;
  margin: 0 auto;
  h2 {
    padding: 40px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    color: #4c5665;
  }
  .student {
    .student__a {
      color: #0056b3 !important;
      margin: 20px 0 !important;
    }
  }
}
